*.class
*.log

# sbt specific
.cache*
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/*/
project/*-shim.sbt

# Scala-IDE specific
.classpath
.project
.scala_dependencies
.settings
.worksheet
/bin/
